.Footer{
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footerText{
    margin-right: 50px;
    margin-top: 150px;
    justify-content: center;
    color: var(--main-color);
}

.footerImg{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 600px) {
    .Footer{
        font-size: 30px;
        margin-bottom: 5px;
        display: grid;
        justify-content: center;
    }

    .footerText{
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footerImg{
        width: 98%;
    }
}