.Gift {
    width: 320px;
    height: 320px;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.linkGift {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
    margin-right: 20px;
    font-weight: bold;
    color: var(--secondary-color);
}

.imgContainer{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.giftImg {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    max-height: 180px;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}

h5 {
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
    color: var(--main-color);
    font-size: 21px;
}

.engage {
    margin-bottom: 10px;
    margin-top: 15px;
    box-shadow: 0 0 0 2px var(--secondary-color),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    padding: 4px 25px 4px 25px;
    font-size: 20px;
}

.engage:hover {
    font-weight: bold;
}

.center {
    justify-content: center;
    display: grid;
}

@media only screen and (max-width: 600px) {
    .Gift {
        margin-left: 0;
        height: 270px;
    }

    .giftImg {
        width: 120px;
        max-height: 150px;
    }

    h5 {
        margin-bottom: 5px;
        font-size: 16px;
        margin-top: 5px;
    }

    .engage {
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 18px;
    }

    .headerContainer{
        height: 45px;
    }

    .imgContainer{
        height: 150px;
    }

    .engage:hover {
        font-weight: normal;
    }

    .linkGift {
        font-weight: bolder;
        font-size: 14px;
        margin-top: 5px;
    }
}