*{
  outline: none;
  border: none;
  font-family: 'Nunito', sans-serif;
}

body {
  margin-top: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root{
  --main-color: #C39F5B;
  --secondary-color: #7DAD93;
}
